{% extends 'layout.html' %}
{% block body %}
{% if session["admin"] %}

    <h1>Istniejace zadania</h1>
    {% for i in posts.length %} <!--przeslac posts.length i posts(headers) -->
        <form method="DELETE" action="/admin"><div>{{ posts[i]}}</div><button name="{{posts[i]}}" type="submit">Usuń</button></form>
    {% endfor %}
    {% with messages = get_flashed_messages() %}
        {% if messages[0] == "Successfully deleted" %}
            <div class="message succes setting_message"> {{ messages[0] }} </div>
        {% endif %}
    {% endwith %}

    <h1> Dodaj nowe zadanie</h1>
    <form method="POST" action="/admin">
    <label>Nazwa zadania</label><input name="header" type="text">
    <label>Treść Zadania</label><input name="content" type="textarea">
    <label>Czas do ukazania odpowiedzi (w godzinach):</label><input name="time" type="number">
    <button type="submit" name="new_post">Dodaj!</button>

    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages[0] == "Successfully added" %}
            <div class="message succes setting_message"> {{ messages[0] }} </div>
        {% elif messages[0] == "Empty field" %}
            <div class="message failed setting_message"> {{ messages[0] }} </div>
        {% endif %}
    {% endwith %}

{% else %}
    {% include 'notlogin.html' %}
{% endif %}
{% endblock %}
