{% extends 'layout.html' %}
{% block body %}
{% if session["admin"] %}

    <h1>Istniejace zadania</h1>
    {% for i in range(titles|length) %} <!--przeslac posts.length i posts(headers) -->
      <div><div style="display: inline-block;">{{times[i]}}</div>  <form method="post" action="/posts/{{id[i]}}" style="display: inline-block;"><div style="display: inline-block;">{{titles[i]}}</div><div style="display: inline-block;">{{content[i]}}</div><button name="{{id[i]}}" type="submit">Usuń</button></form></div>
    {% endfor %}
    {% with messages = get_flashed_messages() %}
        {% if messages[0] == "Successfully deleted" %}
            <div class="message succes setting_message"> {{ messages[0] }} </div>
        {% endif %}
    {% endwith %}

    <h1> Dodaj nowe zadanie</h1>
    <form method="POST" action="/admin">
    <input class="inputs_login" placeholder="Nazwa zadania" name="header" type="text">
    <input class="inputs_login" placeholder="Treść zadania" name="content" type="textarea">
    <input class="inputs_login" placeholder="Czas do ukazania zadania (w godzinach):" name="time" type="number">
    <button type="submit" name="new_post">Dodaj!</button>
  </form>
    {% with messages = get_flashed_messages() %}
        {% if messages[0] == "Successfully added" %}
            <div class="message succes setting_message"> {{ messages[0] }} </div>
        {% elif messages[0] == "Empty field" %}
            <div class="message failed setting_message"> {{ messages[0] }} </div>
        {% endif %}
    {% endwith %}

{% else %}
    {% include 'notlogin.html' %}
{% endif %}
{% endblock %}
